---
import aboutImg from "@/assets/about-astro.png";
import PageLayout from "@/layouts/Base.astro";
import { Image } from "astro:assets";

const meta = {
	description: "who knows",
	title: "About",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			p. broccoli, sibling of the famous mario broccoli.
		</p>
		<h2 class="title mb-4 text-xl">what i use</h2>
		<ul class="list-inside list-disc">
			<li><a class="cactus-link inline-block" rel="noopener noreferrer" href="https://helix-editor.com/">helix</a></li>
			<li><a class="cactus-link inline-block" rel="noopener noreferrer" href="https://gleam.run/">gleam</a></li>
			<li><a class="cactus-link inline-block" rel="noopener noreferrer" href="https://clojure.org/">clojure</a></li>
		</ul>
		<p>
			Clone or fork my <a
				aria-label="github repository"
				class="cactus-link inline-block"
				href="https://github.com/chrismwilliams/astro-cactus"
				rel="noopener noreferrer"
				target="_blank">repo</a
			> if you like me!
		</p>
	</div>
</PageLayout>
